.Logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}

a { color: inherit; } 

.LogoParts {
    margin-top: 1rem;
    height: 2rem;
}
/***************************************************Navbar*******************************************/

.Navbar {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    width: 100%;
    height: 3rem;
    background-color: black;
    box-shadow: 0.02rem 0.1rem 0.4rem black;
}

.navbarText {
    font-weight: 600;
    font-size: 1.2rem;
    margin: auto;
    color: white;
    margin-left: 5%;
}

.navbarTextNavigate {
    font-size: 0.9rem;
    margin: 0;
    color: white;
    margin-left: 10%;
    font-weight: 500;
    margin-top: 10%;
    margin-bottom: 10%;
}

@keyframes max-height {
    
}

.navbarDiv {
    border-radius: 0 0 1rem 1rem ;
    z-index: 5;
    padding: 1rem;
    width: 80%;
    margin-top: 3rem;
    background-color: black;
    margin-left: 20%;
    margin-right: 1rem;
    height: fit-content;
    box-shadow: 0.02rem 0.1rem black;
}

.menuLogoPair {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 3%;
}

.textWrap {
    background-color: black;
    border-color: white;
    border: solid;
    border-width: 0.1rem 0 0;
    padding: auto;
}

.crossLogo {
    margin-left: 80%;
}

.MenuOpenButton {
}



/***************************************************Navbar******************************************/

/*********************Logo*****************************/
.arrowCage {
    margin : 10%;
    
    margin-top: 6%;
    margin-bottom: 0;
}

.cardButton {
    width: 30%;
    border: none;
    margin: 0 10%;
    background-color: rgb(34, 34, 34)
}

.cardPara {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 5rem;
}

.cardHeading {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.cardImage {
    width: 100%;
    height: 8rem;
}

.cardImageContri{
    height: 8rem;
    width: 50%;
    margin-left: 25%;
}

.ProjectButton {
    width: 80%;
    margin-left: 10%;
    height: 2rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0.4rem;
    font-size: 0.9rem;
}

.projectsPage {
    border-radius: 0 0 1rem 1rem;
    height: 20rem;
    width:70%;
    margin: 15%;
    margin-top: 1%;
    background-color: white;
    position: absolute;
    transition: all 1s linear;
}

.ContriPage {
    border-radius: 0 0 1rem 1rem;
    height: 20rem;
    width:70%;
    margin: 15%;
    margin-top: 1%;
    background-color: white;
    position: absolute;
    transition: all 1s linear;
}


/**************************************Card***************************************/
.TitleEmbed {
    width: 22%;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-top: 20%;
    margin-left: 6%;
    margin-bottom: 0;


    background-color: black;
    border-radius: 0.1rem;

    
    box-shadow: 0.02rem 0.1rem 0.4rem black;
}

.Reusabletitle {
    font-size: 0.8rem;
    color: white;
    margin: auto;
    
}

/**********************************/

.skillLabel {
    font-size: 0.8rem;
    margin: 0;
    margin-left: 0.4rem;
    color: white;
    font-weight: 400;
    
}

.skillIcons {
    height: 1rem;
    width: 1rem;
    margin-left: 0.8rem;
}

.bigSkillBox {
    background-color:  rgb(39, 38, 38);
    border-radius: 0.5rem;
    height: 3rem;
    margin-top: 10%;
    
    box-shadow: 0.02rem 0.15rem 0.6rem black;
    
}



.smallSkillBox {
    background-color:  rgb(39, 38, 38);
    
    border-radius: 0.5rem;
    height: 2.5rem;
    margin-top: 10%;
    
    box-shadow: 0.02rem 0.15rem 0.4rem black;
    
}

.skillFlow {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.bigSkillLabelAdjust {
    font-size: 0.9rem;
    margin-left: 0.25rem;
}

.bigSkillIconsAdjust {
    margin-left: 0.5rem;
    height: 1.4rem;
    width : 1.4rem;
}


/***********************tools********************/
.Gallery {

    height: 15rem;
    width: 80%;
    margin: auto;
    border-radius: 0.4rem;
    margin-top: 1.5rem;
    box-shadow: 0.1rem 0.2rem 0.5rem black;
    
    
}

.galleryPhotos {
    width: 100%;
    height: 15rem;
    border-radius: 0.3rem;
    display: block;
    
}

/*********************Gallery at top ******************/

.tickIcon {
    height: 1rem;
    margin-left: 5%;
    margin-right: 2%;
    
}

.flexApplier {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-content: baseline;
}

.smallPiece {
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    width: 20%;
    height: 10rem;
    margin-left: 10%;
    margin-top: 20%;

    border-radius:  1rem 0 0 1rem  ;
    box-shadow: 0.3rem 0.5rem 0.5rem black;
    
}

.skillname {
    font-size: 0.8rem;
    margin: 0;
    color: white;
}

.bigPiece {
    width: 68%;
    display: flex;
    flex-direction: row;
    background-color: rgb(59, 59, 59);
    
    height: 10rem;
    margin-right: 10%;
    margin-left: 2%;
    margin-top: 20%;

    border-radius:  0 1rem 1rem 0;
    box-shadow: 0.3rem 0.5rem 0.5rem black;

}

.fullPiece{
    display: flex;
    flex-direction: row;
}

.cardPhoto {
    height: 5rem;
    width: 5rem;

    border-radius: 5rem;
    margin: 20%;
}

.CVDownloader {
        height: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-left: 18%;
        border-radius: 0.6rem;
        border: none;

        
        box-shadow: 0.02rem 0.15rem 0.1rem black;
}

.cvText {
    font-size: 1.1rem;
    margin: 0;
    color: black;
    margin: auto;
    margin-left: 2%;
    font-weight: 300;
}

.DownloadButton {
    margin: auto;
    margin-right: 0rem;
    height: 1.2rem;
}

.cardName {
    color: white;
    font-size: 1.4rem; 
    margin-left: 23%;
    margin-top: 13%;
    font-weight: 600;

}

.DetailsBlock {
    display: flex;
    flex-direction: column;
}

.leftPiece {
    display: flex;
    flex-direction: column;
}

.degreeIcon {
    height: 1rem;
    margin: 0.2rem;
}

.educationDetails {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.educationNaming {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.nameOfCollege {
    margin: 0;
    color: white;
    font-weight: 400;
    
}


/****************************card at second ********************/

.skillBox {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
}

.subSkill {
    margin-left: 5.5%;
    width: 26%;
    display: flex;
    flex-direction: column;
    
}
/****************************skill set************************************/

.projectBundle {
    margin-top: 2rem;
    margin-bottom: 5rem;
    position: relative;
    width: 100%;
    height: 24rem;
    overflow: hidden;
}

.rightArrow {
    margin-top: 20%;
    height: 3rem;
    width: 3rem;
}

.leftArrow {
    margin-top: 20%;
    height: 3rem;
    width: 3rem;
}




/********************************Projects********************************************/

.footer {
    width: 100%;
    height: 20rem;
    background-color: black;
    display: flex;
    align-content: center;
}

.contactUsDiv {
    width: 55%;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
    height: 10rem;

}

.footerText {
    margin: auto;
    margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 1rem;
}

.footerInput {
    outline: none;
    margin: auto;
    height: 40%;
    margin-bottom: 0;
    width: 80%;
}

.messageButton {
    margin-top: 0;
    width: 80%;
    margin: auto;
    height: 2rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0.4rem;
    font-size: 0.9rem;
}
/**********************************Footer****************************************************/



/***************************Animation***********************/
